<div class="navbar">
    <h1>School<code>Admin</code> App</h1>
  </div>


<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Full Names</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Names & Surname">
  </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="email@example.com">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
      <div class="form-group">
        <label for="exampleInputEmail1">ID Number</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="000000 0000 00 0">
      </div>
   <div class="form-group">
     <label for="exampleFormControlTextarea1">Modules</label>
     <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
   </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>